//font colors
$white: #fff;
$black: #000;
$gray: #4d4d4d;
$gray-middle: #666;
$gray-light:#a3a3a3;
$gray-tabs:#b9b9b9;
$orange: #ffa352;
$bright-orange: #ff800c;
$orange-a: #ffb575;
$green: #7fa607;
//$purple: #533a5e;
//$pink: #edbfff;
//$gray-d: #454545;
//$light-grey: #f9f9f9;
//$gray: #d8d8d8;
//$middle-gray:#ececec;


//bg colors

$bg-white:#f8f8f8;
$bg-orange:#ff9f05;
//$bg-black: $black;
//$bg-gray: $light-grey;
