*, :after, :before, :hover {
  box-sizing: border-box;
}
*{
  outline:none;
}
body{
  overflow-x: hidden;
  font-family: $source-sans;
  font-size: 14px;
  color: $gray;
  position: relative;
}
a{
  font-size: 14px;
  color: $orange-a;
  //pointer-events: none;
  //text-decoration: none;
}
h3 {
  color: $gray;
  font-size: 31px;
}
h1{
  color: $bright-orange;
  font-size: 44px;
  font-weight: 300;
}
p{
  font-family: $source-sans;
  font-size: 14px;
  color: $gray;
  line-height: 22px;
}
