.footer{
padding-bottom: 28px;
  .vd{
    text-align: right;
    color: $gray;
    p{
      font-size: 20px;
      font-weight: 300;
      padding-bottom: 12px;
      span{
        opacity: 0.5;
      }
    }
    .year{
      opacity:0.5;
      font-size: 31px;
      font-weight: 300;
    }
  }
}