body{

    height: 100%;
    background-color: gainsboro;
}
.main{
    font-family: "Times New Roman";
    width: 500px;
    height: 680px;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 7px rgba(0,0,0,0.2); /* Параметры тени */
    padding: 10px;
}
p1{
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: 600; /* Жирное начертание */
}
h3{
    text-align: center;
}
.name{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.block1{
    margin: 0% 5% 0% 10%;
    line-height: 1.5;
}
.block{
    margin: 5% 10% 5% 10%;
    line-height: 1.5;
}
.list{
    list-style-type: disc;
    margin: 5% 10% 0% 5%;
}
p2{
    color: blue;
    text-decoration: underline;
}
.line{
    border-bottom: 1px solid gray; /* Параметры линии внизу */
    margin: 5% 10% 5% 10%;
}

