//font colors
$white: #fff;
$black: #000;
$purple: #533a5e;
$pink: #edbfff;
$gray-d: #454545;
$light-grey: #f9f9f9;
$gray: #d8d8d8;
$middle-gray:#ececec;


//bg colors
$bg-black: $black;
$bg-gray: $light-grey;
