.content{
  background-color: $white;
  .up{
    margin-top: 42px;
  }
  [class*="product"]{
    background-color: $white;
    width: 253px;
    height: 260px;
    box-shadow: 0 0 3px rgba(0,0,0,.16);
    text-align: center;
    border-bottom: 4px solid #3cc395;
    margin-left: 42px;
    margin-bottom: 48px;
    img{
      margin:18px 0;
    }
    a{
      background-color: #3cc395;
      border-radius: 3px;
      padding: 4px 14px;
    }
    p{
      color: #aeaeae;
      font-size: 27px;
      display:inline-block;
    }
  }
}